.DS_Store
1-4-unix_bash/
/2-front-end-development/12_1-react_components_with_state/my-pokedex/node_modules
/2-front-end-development/12_2-react_event_forms/my-form-2.0/node_modules
/2-front-end-development/13_3-react_router/fixation-exercises-13-3/node_modules
/2-front-end-development/13_3-react_router/my-pokedex/node_modules
/2-front-end-development/15_1-react_testing_library/exercise-todo-list/node_modules
/2-front-end-development/15_1-react_testing_library/testes-react/node_modules
/node_modules
/2-front-end-development/16_4-redux_thunk