* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.1em;
}

main {
  margin: 0 10px;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
h2 {
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  margin: auto;
}

div.images {
  display: flex;
  flex-direction: column;
}

div.images figure {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 10px;
}

div.images figure figcaption {
  text-align: center;
}

@media screen and (min-width: 800px) {
  body {
    background: black;
    color: white;
    font-size: 1em;
  }

  main {
    margin: auto;
    width: 60%;
  }

  h1 {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  h2 {
    margin: 20px auto;
  }

  div.images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  div.images figure {
    width: 40%;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 1300px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.2em;
  }

  main {
    max-width: 1500px;
  }
}
